.hidden{
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(100%);
margin: -1px;
}

/* #region header*/

.container {
max-width: 320px;
padding: 0 16px;
margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion */

/* #region HEADER */

.header-page {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.address-page {
    display: none;
}

.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header{
padding: 16px 0;
display: block;
}

.logo-style {
    color: #2e2f42;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .logo-header {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-page {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

        .nav-item-link {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 24px 0;
            color: #2e2f42;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .nav-item-link-studio {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 24px 0;
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
        }
    
        .nav-item-link:hover,
        .nav-item-link:focus {
            color: #404bbf;
        }
    
        .nav-item-link-studio::after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
        }

    .address-page {
    font-style: normal;
    display: block;
    }

    .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    }

    .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

}

@media screen and (min-width: 1158px) {
    .logo-header {
        margin-right: 76px;
        }
    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
}
    .address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
}

 /* #endregion */

/* #region MOBILE MENU */

.mobile-menu{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;

opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.mobile-menu-close{
position: absolute;
top: 24px;
right: 24px;
border-radius: 50%;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
width: 24px;
right: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav{
    display: flex;
margin-bottom: auto;
}

.nav-list-mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;    
}

.nav-link-mobile-menu-studio{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #404bbf;
}

.nav-item-mobile-menu {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}

.address-list-mobile{
display: flex;
flex-direction: column;
gap: 24px;
padding-bottom: 48px;
}

.address-link-tel-mobile{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #4d5ae5;
font-style: normal;
}

.address-link-mobile{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}

.icons-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 40px;
}

.item-icons{
    width: 40px;
    height: 40px;
}

.link-icons-mobmenu{
    display: flex;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconssvg-mobmenu{
fill: #f4f4fd;;
}

@media screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }
}
/* #endregion */

/* #region SECTION HERO */
.sect-hero {
    max-width: 320px;
    height: 432px;
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 96px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 216px;
    margin: 0 auto 72px;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    display: block;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .sect-hero {
        max-width: 768px;
        height: 436px;
        background-color: #2e2f42;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto;
        background-size: cover;
    }

        .title {
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #ffffff;
            max-width: 496px;
            margin: 0 auto 36px;
        }
}

@media screen and (min-width: 1158px) {
    .sect-hero {
    max-width: 1440px;
    height: 600px;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    background-size: cover;
    }

        .title {
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #ffffff;
            max-width: 496px;
            margin: 0 auto 48px;
        }
}

/* #endregion */

/* #region SECTION 2 */ 
.icon-secttwo{
    display: none;
}

.sect-two-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
}

.title-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-sect-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 320px) {
.title-three .text-sect-one {
        max-width: 288px;
    }
    .title-three {
        text-align: center;
    }

    .sect-two-item {
        width: 100%;
    }

        .sect-two-list {
            flex-wrap: wrap;
            gap: 72px;
        }
}

@media screen and (min-width: 768px) {
.sect-two-item {
        width: calc((100% - 24px) / 2);
    }

    .sect-two-list {
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}


@media screen and (min-width: 1158px) {
    .icon-secttwo {
        display: flex;
    }

  .container-secttwo {
      display: flex;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      width: 264px;
      height: 112px;
      background: #f4f4fd;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
  }

    .title-three {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: left;
    }
    .text-sect-one {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .sect-two-item {
        width: calc((100% - 72px) / 4);
    }
}

/* #endregion */

/* #region SECTION 3 */

.containerteam {

}

 .sect-three {
     padding: 96px 0;
     background-color: #F4F4FD;
 }

 .title-four {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.1;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 72px;
 }

 .sect-three-list {
     background-color: #F4F4FD;
     display: flex;
     gap: 24px;
 }

 .spisok-tri {
     background-color: #FFFFFF;
     border-radius: 0 0 4px 4px;
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
     background: #fff;
 }

 .img-block-our-team {
     box-sizing: content-box;
     object-fit: contain;
 }

 .cont-sect-three {
    display: flex;
    flex-direction: column;
    gap: 0 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 0 32px 0;
 }

 .title-three{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
 }

 .social-network-icons {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     gap: 24px;
     margin-top: 8px;
 }

 .list-icons {
     width: 40px;
     height: 40px;
 }

 .link-icons {
     display: flex;
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .iconssvg {
     fill: #f4f4fd;
 }

 .link-icons:hover,
 .link-icons:focus {
     background-color: #404BBF;
 }

 @media screen and (min-width: 768px) {
.spisok-tri {
        width: calc((100% - 48px) / 2);
    }
    .sect-three-list{
        flex-wrap: wrap;
        gap: 64px 24px;
    }

.container-team {
        max-width: 584px;
        }
 }

 @media screen and (min-width: 1158px) {
.sect-three {
        padding: 120px 0;
    }

    .spisok-tri {
        width: calc((100% - 72px) / 4);
        }

    .container-team {
      max-width: 1158px;
    }
 }

/* #endregion */







